.create-form {
    padding-top: 100px;
    margin: 0 auto;
    text-align: center;
}

.create-form input {
    margin: 10px;
}

.create-form button {
    margin: 10px;
}

.create-form hr {
    width: 300px;
}

.error {
    color: #f33;
}